.container {
  margin-inline: auto;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container p {
  margin-left: 1rem;
}
.container span {
  margin-left: 0.3rem;
}
.name_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  color: #fbfdff;
}
.name_container p {
  font-size: 2rem;
  color: #fbfdff;
}
.container span {
  background-color: none;
}
.container p {
  color: #fbfdff;
}
